<br><br>
<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Contactenos</h3>
                        <p>
                            LegalDoc <br>
                            Vía Ricardo J. Alfaro, UTP<br><br>
                            <strong>Phone:</strong> +507 333-2222<br>
                            <strong>Email:</strong> legaldoc@gmail.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Consultas</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/c_revisionGramatical">Revision gramatical</a>
                        </li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/c_crearDocumento">Crear documentos</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/c_asesoresLegales">Asesoria</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/c_misOrdenes">Mis ordenes</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <br><br>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/terminosCondiciones">Terminos y
                                condiciones</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://aig.gob.pa/acercade/disclaimer/"
                                                                   target="_blank">Politicas de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Redes sociales</h4>
                    <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                        <a href="#" class="twitter"><i class="bi bi-twitter fa-3x"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook fa-3x"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram fa-3x"></i></a>
                        <a href="#" class="google-plus"><i class="bi bi-skype fa-3x"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin fa-3x"></i></a>
                    </div>


                </div>
            </div>
        </div>
    </div>

</footer>

<!-- ======= Final del Footer ======= -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/glightbox/js/glightbox.min.js"></script>
<script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script src="vendor/php-email-form/validate.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- Template Main JS File -->
<script src="js/main.js"></script>
<script src="js/control.js"></script>
<script src="js/APIClient.js"></script>
<script>verificarSesion()</script>
</body>

</html>