<%- include('partes/header'); %>

<!-- ======= Comienzo del contenido ======= -->
<br>
<div class="container">

    <h2 class="text-center">Carrito de compra</h2>
    <br>
    <div class="card service align-items-center">
      <img src="../../img/profile.png" class="foto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Asesoría legal</h5>
        <p class="card-text">
          No menos importante que las demás por lo que representa para la evolución de la empresa, 
          es cada vez más solicitada. Las TICs y otras tecnologías disruptivas forman el futuro de 
          los negocios, por lo cual necesitas saber cómo sacarle el mayor provecho a los recursos que 
          tienes o deberías implementar.
        </p>                  
        <a href="#" class="addCar btn btn-danger" data-idservice="informatica" data-img="img/legaldocGrande.svg"
        data-info="Asesor Legal 3" data-precio="50.00" data-statu="0">Eliminar del carrito</a>
      </div>
    </div>
    <br>
    <div class="card service align-items-center">
      <img src="../../img/profile.png" class="foto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Asesoría legal</h5>
        <p class="card-text">
          No menos importante que las demás por lo que representa para la evolución de la empresa, 
          es cada vez más solicitada. Las TICs y otras tecnologías disruptivas forman el futuro de 
          los negocios, por lo cual necesitas saber cómo sacarle el mayor provecho a los recursos que 
          tienes o deberías implementar.
        </p>                  
        <a href="#" class="addCar btn btn-danger" data-idservice="informatica" data-img="img/legaldocGrande.svg"
        data-info="Asesor Legal 3" data-precio="50.00" data-statu="0">Eliminar del carrito</a>
      </div>
    </div>
    <br>
    <div class="card service align-items-center">
      <img src="../../img/profile.png" class="foto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Asesoría legal</h5>
        <p class="card-text">
          No menos importante que las demás por lo que representa para la evolución de la empresa, 
          es cada vez más solicitada. Las TICs y otras tecnologías disruptivas forman el futuro de 
          los negocios, por lo cual necesitas saber cómo sacarle el mayor provecho a los recursos que 
          tienes o deberías implementar.
        </p>                  
        <a href="#" class="addCar btn btn-danger" data-idservice="informatica" data-img="img/legaldocGrande.svg"
        data-info="Asesor Legal 3" data-precio="50.00" data-statu="0">Eliminar del carrito</a>
      </div>
    </div>
    <br>
    <br>
    <div class="">
      <h5 class="card-title" id="precioTotal">Total: B/0.00</h5>
    </div>
    <br>
    <div class="container text-center">
      <a href="../../index.html">
        <button class="btn btn-success">Pagar</button>
      </a>
    </div>
  
    <br>
    </div>
</div>


<!-- ======= Final del contenido ======= -->

<%- include('partes/footer'); %>