<%- include('partes/header'); %>

<!-- ======= Comienzo del contenido ======= -->
<div class="global-container my-5">

    <div id="center-text">
        <h2>Comunicacion con asesor</h2>
        <p>Otros medios de comunicacion: Tel. 999-9999</p>
        <p>Correo asesor1@legaldoc.com</p>
        <p>Para comunicarse con Asesor dirigirse a la esquina inferior derecha</p>
      </div> 
    <div id="body"> 
      
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
                <i class="material-icons">speaker_phone</i>
        </div>
      
      <div class="chat-box">
        <div class="chat-box-header">
          ChatBot
          <span class="chat-box-toggle"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
          <div class="chat-box-overlay">   
          </div>
          <div class="chat-logs">
           
          </div><!--chat-log -->
        </div>
        <div class="chat-input">      
          <form>
            <input type="text" id="chat-input" placeholder="Send a message..."/>
          <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
          </form>      
        </div>
      </div>
      
      
      
      
    </div>

</div>
<!-- ======= Final del contenido ======= -->

<%- include('partes/footer'); %>