<%- include('partes/header'); %>

  <div class="">
    <div class="container my-5">
      <div class="row my-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Mi orden</h3>
            </div>
            <div class="card-body" id="data">
              <h3>Servicio: Lorem Ipsum</h3><br>
                  <h4>Información del servicio: </h2>
                    <p>
                    <h4 style="text-align:justify">
                  </h4><br>
                  </p>
                  <h3>Estado: Lorem Ipsum</h3><br>
            </div>
            </p>
            <div style=" display: flex; align-items: center; justify-content: center;">
              <a href="/c_comunicacionAsesor">
                <button type="button" class="btn btn-primary botones">Comunicarse con el asesor</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script>
    let url = 'http://103.54.58.53:8080/legaldoc/api/v1/order/2'
    fetch(url)
      .then(response => response.json())
      .then(data => mostrarData(data))
      .catch(error => console.log(error))


      function mostrarData(data){
        console.log(data)
        let body = ''
        data.data.detallesOrden.forEach((element,i) =>{
          body += `
          <div><h3>${i++}<br>Servicio:${element.nombreServicio}</h3></div>
           <h3>Información del servicio: ${element.descriptionServicio}</h3>
          <h3>Estado del servicio: ${element.estado}</h3>
          `
        })
        console.log(body)
        document.getElementById(`data`).innerHTML = body
      }
  </script>

  <%- include('partes/footer'); %>