<%- include('partes/header'); %>

<!-- ======= Comienzo del contenido ======= -->
<div class="">
    <div class="container my-5">
        <div class="row my-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mis Ordenes</h3>
                    </div>
                    <div class="card-body">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Servicio</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                                <th>Ver orden</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger</td>
                                <td>Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett</td>
                                <td>Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton</td>
                                <td>Cox</td>
                                <td>Junior Technical Author</td>
                                <td>SanFrancisco@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cedric</td>
                                <td>Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Airi</td>
                                <td>Satou</td>
                                <td>Accountant</td>
                                <td>Tokyo@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Brielle</td>
                                <td>Williamson</td>
                                <td>Integration Specialist</td>
                                <td>NewYork@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Herrod</td>
                                <td>Chandler</td>
                                <td>Sales Assistant</td>
                                <td>SanFrancisco@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Rhona</td>
                                <td>Davidson</td>
                                <td>Integration Specialist</td>
                                <td>Tokyo@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Colleen</td>
                                <td>Hurst</td>
                                <td>Javascript Developer</td>
                                <td>SanFrancisco@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Sonya</td>
                                <td>Frost</td>
                                <td>Software Engineer</td>
                                <td>Edinburgh@correo.com</td>
                                <td>
                                    <a href="/c_miOrden"> <button type="button" class="btn btn-primary botones"> Ver orden </button></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                      

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Final del contenido ======= -->

<%- include('partes/footer'); %>
<script>
    showMyOrders();
</script>