<%- include('partes/header'); %>

<!-- ======= Comienzo del contenido ======= -->
<div class="">
  <div class="container my-5">
    <div class="row my-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1>Revision gramatical</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Descripcion del servicio</h3>
        <p class="text-lg-start">
          El servicio de revicion gramatical es un servicio que se encarga de revisar el texto enviado por el usuario,
          para verificar que el texto sea gramaticalmente correcto.
        </p>
        <form action="#" method="post" enctype="multipart/form-data" class="text-center">

          <input class="form-control form-control-sm form-control-md form-control-lg" id="formFileLg" type="file" />
          <button type="submit" class="btn btn-primary my-4 botones">Subir documento</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- ======= Final del contenido ======= -->

<%- include('partes/footer'); %>