<%- include('partes/header'); %>
 <!-- ======= Comienzo del carusel ======= -->

 <section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="featured-carousel owl-carousel">
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(img/revisionGramatical.jpg);">
                <a href="pantallas/cliente/c_revisionGramatical.html" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <h3><a href="pantallas/cliente/c_revisionGramatical.html">Revision gramatical</a></h3>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(img/crearDocumento.jpg);">
                <a href="pantallas/cliente/c_buscarDoumentLegal.html" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <h3><a href="pantallas/cliente/c_buscarDoumentLegal.html">Crear documentos</a></h3>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(img/Asesoria.jpg);">
                <a href="pantallas/cliente/c_asesoresLegales.html" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <h3><a href="pantallas/cliente/c_asesoresLegales.html">Asesoria</a></h3>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="work">
              <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(img/misOrdenes.png);">
                <a href="pantallas/cliente/c_misOrdenes.html" class="icon d-flex align-items-center justify-content-center">
                  <span class="ion-ios-search"></span>
                </a>
              </div>
              <div class="text pt-3 w-100 text-center">
                <h3><a href="pantallas/cliente/c_misOrdenes.html">Mis ordenes</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

<!-- ======= Final del carusel ======= -->

<!-- ======= Comienzo de las cards ======= -->

<div class="py-5">
  <div class="container">
    <div class="row hidden-md-up justify-content-around">
      <div class="col-md-3">
        <a href="pantallas/cliente/c_revisionGramatical.html">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">Revision gramatical</h4>
              <p class="card-text p-y-1">Sube un documento y se lo procesamos para determinar las faltas de ortografia que tiene este</p>
              <br><br>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="pantallas/cliente/c_buscarDoumentLegal.html">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">Crear documentos legales</h4>
              <p class="card-text p-y-1">Crear tus documentos legales solo llenando un formulario</p>
              <br><br>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="pantallas/cliente/c_asesoresLegales.html">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Asesoria legal</h4>
            <p class="card-text p-y-1">Contrata a los mejores asesores que te brindaran un gran variedad de servicios a tu medida</p>
            <br><br>
          </div>
        </div>
      </a>
      </div>
    </div><br><br><br>
    <div class="row justify-content-around">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Publicidad</h4>
            <h6 class="card-subtitle text-muted"></h6>
            <p class="card-text p-y-1">Informacion acerca de la publicidad</p>
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Publicidad</h4>
            <h6 class="card-subtitle text-muted"></h6>
            <p class="card-text p-y-1">Informacion acerca de la publicidad</p>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>

<!-- ======= Final de las cards ======= -->

<!-- ======= Comienzo de la barra de busqueda ======= -->
<div class="container">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-8">

      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Buscar">
        <button class="btn btn-primary">Buscar</button>
      </div>
    
    </div>
    
  </div>
</div>

<!-- ======= Final de la barra de busqueda ======= -->

<%- include('partes/footer'); %>