<%- include('partes/header'); %>

<!-- ======= Comienzo del login ======= -->
<br><br><br><br>
<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Mi perfil</h3>
		<div class="card-text">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			<form>
				<!-- to error: add class "has-danger" -->
        <div class="form-group">
					<label for="exampleInputEmail1">Nombre</label>
					<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" value="Carlos" aria-describedby="emailHelp">
				</div>
        <div class="form-group">
					<label for="exampleInputEmail1">Apellido</label>
					<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" value="Romero" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Correo</label>
					<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" value="carlos.romero@gmail.com" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Contraseña</label>
					<input type="password" class="form-control form-control-sm" value="12345" id="exampleInputPassword1">
				</div>
        <div class="form-group">
					<label for="exampleInputPassword1">Repetir Contraseña</label>
					<input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
				</div>
				<button type="submit" class="btn btn-primary btn-block botones">Actualizar</button>
			</form>
		</div>
	</div>
</div>
</div>


<!-- ======= Final del login ======= -->

<%- include('partes/footer'); %>